<app-todo-form />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of todos | async">
      <td>{{ item.name }}</td>
      <td>
        <app-custom-button class="primary" (click)="editarItem(item)">
          Editar
        </app-custom-button>
        <app-custom-button class="danger" (click)="deletarItem(item)">
          Deletar
        </app-custom-button>
      </td>
    </tr>
  </tbody>
</table>
